* {
  margin: 0;
  padding: 0;
  outline: none;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('./assets/background.jpg');
  background-position: center;
}
.logo {
  height: 60px;
  margin-top: 80px;
  margin-left: 80px;
}
.home-container-inner {
  margin-left: 80px;
  flex: 1;
  display: flex;
  align-items: center;
}
.country-dropdown {
  display: flex;
  flex-direction: column;
}
.country-dropdown-values {
  background-color: rgba(234, 232, 228, 0.8);
  color: black;
  border-radius: 20px;
}
.country-button {
  border: none;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 200px;
  align-self: center;
  transition: 0.3s;
}
.country-button:hover {
  cursor: pointer;
}
.country-dropdown {
  width: 200px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 479px) {
  .home-image {
    align-self: center;
    margin-top: 0nits;
    margin-left: 0px;
  }
}
